<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whu.dadatraffic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.TousuActivity"></activity>
        <activity android:name=".Activity.OrderendActivity" />
        <activity android:name=".Activity.OrderpayActivity" />
        <activity android:name=".Activity.OrdermakeActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>